pre { line-height: 125%; }
.c, .ch, .cm, .cp, .cpf, .c1 { color: #928374; font-style: italic; }
.cs { color: #ebdbb2; font-style: italic; font-weight: bold; }
.err { background-color: #fb4934; color: #282828; }
.k, .kc, .kd, .kn, .kp, .kr, .kt, .ow { color: #fb4934; }
.m, .mb, .mf, .mh, .mi, .mo, .il, .no { color: #d3869b; }
.s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss { color: #b8bb26; }
.se, .nb, .bp { color: #fe8019; }
.na { color: #fabd2f; }
.nc, .nf, .nn, .nt, .fm { color: #8ec07c; }
.nv, .vc, .vg, .vi, .vm { color: #83a598; }
.c-PreProc { color: #8ec07c; font-style: italic; }
.ge { font-style: italic; }
.ges { font-style: italic; font-weight: bold; }
.gh, .gs { font-weight: bold; }
.gu { text-decoration: underline; }
.gd { background-color: #fb4934; color: #282828; }
.gi { background-color: #b8bb26; color: #282828; }
.go { color: #f2e5bc; }
.gp { color: #a89984; }
.gr, .gt { color: #fb4934; }
