{% extends "base.html" %}
{% from "partials/socials.html" import socials %}

{% block main %}
<div class="layout layout--about">
  <main class="about" id="main-content" tabindex="-1">
    <header class="about-header">
      <h1 class="about-heading">{{ page.title }}</h1>
    </header>
    <article class="about-article">{{ content }}</article>
  </main>
  <aside class="rail rail--home" aria-label="elsewhere">
    {% include "partials/portrait.html" %}
    {{ socials(config) }}
  </aside>
</div>
{% endblock %}
